{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ImgApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ImgApp/bootstrap-3.3.7/css/bootstrap.min.css' %}"/>
    <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
    <script src="{% static 'ImgApp/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
    <body>
        {% include 'ImgApp/header.html' %}

        {% block main_content %}
        {% endblock %}

        {% include 'ImgApp/footer.html' %}
    </body>
</html>