{% extends 'ImgApp/base.html' %}
{% block main_content %}
    <div align="center" class="panel panel-primary">
        <div class="panel-heading">
            <p class="panel-title">
                <b><i>{{user_photo.owner_ref}}</i></b> on <i>{{user_photo.upload_date}}</i>
                <h3>{{user_photo.photoinfo.caption}}</h3>
            </p>
        </div>
        <img src="{{detail_photo_url}}"/>
        <div align="center">
            <a href={% url "imgapp:delete" user_photo.id %}>
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
        </div>
        <br/>
        <div class="panel-heading" align="center">
            <p class="panel-title">
                Tags:
                <h4>{{user_photo.photoinfo.tags}}</h4>
            </p>
        </div>
        <br/><br/>
    </div>
    <div class="panel panel-info">
        <div align="center" class="panel-heading">
            Computer Vision API Information<br/>
        </div>
        {{user_photo.photoinfo.raw_json}}
    </div>
{% endblock %}