{% extends 'ImgApp/base.html' %}
{% block main_content %}
    <div align="center">
        <div>
            <b><i>{{user_photo.owner_ref}}</i></b> on <i>{{user_photo.upload_date}}</i>
        </div>
        <h2>{{user_photo.photoinfo.caption}}</h2>
        <img src="{{detail_photo_url}}"/>
        <div align="center">
            <a href={% url "imgapp:delete" user_photo.id %}>Delete</a>
        </div>
        <hr>
        <h3>{{user_photo.photoinfo.tags}}</h3>
        <br/><br/>
        <div>
            {{user_photo.photoinfo.raw_json}}
        </div>
    </div>
{% endblock %}