{% extends 'ImgApp/base.html' %}
{% block main_content %}
    <div align="center">
        <h2>Upload your picture...</h2>
        {% include 'ImgApp/upload.html' %}
    </div>
    <hr>
    <h1 align="center">User Photos</h1><br>
    {% if user_photos %}
        {% for user_photo in user_photos %}
            {% if forloop.counter0 == 0 %}
                <div class="row">
                {% include "ImgApp/thumbnail.html" %}
            {% endif %}
            {% if not forloop.counter0|divisibleby:3 %}
                {% include "ImgApp/thumbnail.html" %}
            {% endif %}
                {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:3 %}
                    </div><div class="row">
                    {% include "ImgApp/thumbnail.html" %}
                {% endif %}
        {% endfor %}
        </div>  <!-- class row -->
    {% else %}
        <h3 align="center">You don't have any pictures. Upload something...</h3>
    {% endif %}
{% endblock %}