{% extends 'ImgApp/base.html' %}
{% block main_content %}
    <div align="center">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Upload your picture...</h3>
            </div>
            <br/>
            {% include 'ImgApp/upload.html' %}
        </div>
    </div>
    <hr>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 align="center" class="panel-title">User Photos</h3><br>
        </div>
    {% if user_photos %}
        {% for user_photo in user_photos %}
            {% if forloop.counter0 == 0 %}
                <div class="row">
                {% include "ImgApp/thumbnail.html" %}
            {% endif %}
            {% if not forloop.counter0|divisibleby:3 %}
                {% include "ImgApp/thumbnail.html" %}
            {% endif %}
                {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:3 %}
                    </div><div class="row">
                    {% include "ImgApp/thumbnail.html" %}
                {% endif %}
        {% endfor %}
        </div>  <!-- class row -->
    {% else %}
        <h3 align="center">You don't have any pictures. Upload something...</h3>
    {% endif %}
    </div>  <!-- panel panel-info -->
{% endblock %}