{% extends 'ImgApp/base.html' %}
{% block main_content %}
    <div align="center">
        <h2>Upload your picture...</h2>
        {% include 'ImgApp/upload.html' %}
    </div>
    {% if image_info %}
        {{image_info}}
    {% endif %}
    <hr>
    <h1>User Photos</h1><br>
    {% if user_photos %}
        {% for user_photo in user_photos %}
            <div align="center">
                <h2>{{user_photo.description}}</h2>
                <h3>{{user_photo.upload_date}}</h3>
                <div>
                    <a href={% url "imgapp:detail" user_photo.id %}>
                        <img src="{{user_photo.image.url}}" width="500px" height="500px"/>
                    </a>
                </div>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <h3 align="center">You don't have any pictures. Upload something...</h3>
    {% endif %}
{% endblock %}