<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="{{user_photo.image.url}}" title="{{user_photo.description}}" />
        <div class="caption">
            <h3>{{user_photo.description}}</h3>
            <p>{{user_photo.upload_date}}</p>
            <p>
                <a href="{% url "imgapp:detail" user_photo.id %}" class="btn btn-primary" role="button">Details</a>
                <a href="{% url "imgapp:delete" user_photo.id %}" class="btn btn-danger" role="button">Delete</a>
            </p>
        </div>
    </div>
</div>